@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-50 text-slate-900;
    height: 100dvh;
    overflow: hidden;
    @supports (-webkit-touch-callout: none) {
      height: -webkit-fill-available;
    }
  }

  /* Support for modern viewport units */
  html {
     height: 100dvh;
     overflow: hidden;
  }
}

@layer utilities {
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
  .pt-safe {
    padding-top: env(safe-area-inset-top);
  }
  .min-h-dvh {
    min-height: 100dvh;
  }
  .h-dvh {
    height: 100dvh;
  }
}
